body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.slick-next:before,
.slick-prev:before {
  color: #f44d60;
  font-size: 35px;
}

.slick-prev {
  left: 0;
  z-index: 9;
  display: none !important;
}

.slick-next {
  right: 15px;
  display: none !important;
}

.wrap-item1:hover .slick-prev,
.wrap-item1:hover .slick-next {
  display: inline !important;
}